.navbar{
	overflow:hidden;
	background-color:#333;
}																						
.navbar a{
float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.createAccount: hover {

	color:black;
}

table, th, td {
border:1px solid;
}

.showerRoom{
	border-radius: 10%;
	padding:20px;
}
.changingRoom {
	border-radius:10%;
	float:right;
}
.trainRoom{
	border-radius: 10%;
	float:right;
}
body{
	background-color:beige;
}

.groupPhoto{
	width:50%;
	height:50%;
	border-radius: 10%;
	padding:20px;
}
.groupPhotoText{
	float:right
}


.inclusive {
	width:50%;
	height:50%;
	border-radius: 10%;
	padding:20px;
}
.inclusiveText{
	float:right;
}


.outdoorImg{
	width:50%;
	height:50%;
	border-radius: 10%;
	padding:20px;
}
.peaceGarden{
	width:50%;
	height:50%;
	border-radius: 10%;
	padding:20px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
footer{
	overflow:hidden;
	background-color:#333;
	float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

