body{
  background:#CBF3BB;
  color:black;
  font-size:1rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.dark body{
  background: black;
  color:white;
}
.dark title{
  color: black;
}
.dark, .navBar, footer, .AU_textContainer{
  color: black;
}
.darkModeButton{
margin-top: 0.5rem;
}

.titleContainer{
background-color:#ECF4E8;
width:100%;
padding:1em;
border-radius: 0.4rem;
}
.welcome{
  padding-left:1rem;
}
button{
  border-radius: 0.4rem;
   width:10rem;
  height:2rem;
  background-color: #87a891;
}
button:hover{
background-color:#5a7863; 
transition: ease-in 0.3s;
}

img{
  border-radius: 0.4rem;
}

.foxImg{
  background-color: #ABE7B2;
  max-width: 100%;
  height:auto;
 display:flex;
 margin: 0 auto;
 padding: 0.3rem;
 justify-content: center;
  border-radius: 0.4rem;
  border-color:#436004;
}
.foxImg img{
  border-radius: 3rem;
}

.textContainer{
padding:0.9rem;
background-color: #ABE7B2;
}
.textContainer:hover{
  opacity:0.4;
}
.text{
  font-weight: bolder;
}
.navBar{
  padding:1.3rem;
  background-color: #93BFC7;
  font-size:1.4rem;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bolder ;
  max-width: 100%;
  width:100%;
  display:flex;
  flex-direction: row;
  border-radius: 0.4rem;
}

@media(max-width:1024px){
  .navBar{
    display:flex;
    flex-direction: column;
    text-align: left;
  }
}
@media (min-width:600px) and (max-width:1024px){
  .navBar{
  position:sticky;
    top:0;
    z-index:100;
    opacity: 0.6;
  }
}

.navBar div, footer div{
font-weight:bold;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding:1rem;
text-decoration: none;
position:relative;
z-index:999;
overflow:hidden;
border-radius:inherit;
}

.navBar div:hover, footer div:hover{
background-color: #ECF4E8;
transition:ease-in 0.3s;
}

footer{
background-color:#93BFC7;
border-radius: 0.4rem;
}

a:link{
  text-decoration:none
}

a:visited{
  color:inherit;
}


.flexBox {
  padding-top:0.5rem;
  display:flex;
  flex-direction: row;
} 
.flexBox img{
  width:100%;
border-radius:0.4rem;
}
.img3s{
  padding:0.3rem;
  border-radius: 0.4rem;
  border-style:solid;
  border-color:#436004;

}
@media (max-width: 1024px){
  .flexBox{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 599px){ 
 .flexBox{
  display:grid;
  grid-template-columns: repeat(1, 1fr);
  padding:0.3rem;
 }
}


.gridBox div{
  max-width: 100%; 
  height:auto;
  background-color: #f1f1f1;
  border:0.1rem solid black;
  padding: 0.5rem;
  transition: 0.5s ease;
  backface-visibility:hidden;
  padding:0.5rem;
}


.locationContainer{
  width:fit-content;
}


.AU_title{
  text-align:left;
}
.AU_body{
  text-align: center;
}
.AU_textContainer{
  background-color: beige;
  border-radius:0.3rem;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
  margin-bottom:0.4rem;
}
.AU_imgScrollable{
background-color: #333;
overflow:auto;
white-space: nowrap;
padding: 0.7rem;
border-radius: 0.3rem;
}
.AU_imgScrollable img{
border-style: solid;
border-color: #ECF4E8;
}

.AU_gridBox, .NR_gridBox{
  display:flex;
  flex-wrap:wrap;
  gap:1.5rem;
  justify-content: center;
}

.AU_images, .NR_images{
   max-width: 18rem;
  text-align:center;
  padding-right: 3.9rem;
  border-style: solid;
  border-radius: 0.5rem;
}

.AU_images p{
text-align: center;;
}
.AU_list{
  text-align: left;
}

@media screen and (max-width: 480px) {
  .NR_gridBox{
    grid-template-columns: 1fr;
    gap:0.2rem
  }
}


.KZ_imgContainer{
  padding:2rem;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.KZ_imgContainer img{
  border-radius: 0.4rem;
}
.KZ_para{
  text-align: center;
  padding:2rem;
}
@media (max-width:940px){
  .KZ_imgContainer{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap: 1.2em;
  }
  .KZ_para{
    display:flex;
    flex-wrap:wrap;
  }
}




.AG_container{
display: grid;
grid-template-columns: repeat(3, 1fr);
padding:0.3rem;
}
@media (max-width: 1024px){
  .AG_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 599px){
  .AG_container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .AG_container img{
    width:100%;
    height:auto;
    display:block;
  }
}
.AG_images{
  border-style: solid;
  padding: 0.5rem;
 
}
.AG_images img{
  padding-bottom:0.3rem;
  border-radius:0.4rem;
}


