@import "tailwindcss";

:root {
  --background: #ffffff;
  color:#000;
  --foreground: #171717;
}


@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-merriweather);
}

@layer base{


body {
  color: var(--foreground);
}
 h1{
    @apply flex flex-col py-4 text-3xl font-bold;
  }
}